.navigation {
    background: $main-color1 ;
    .navbar-brand {
    color: $text-light;
    }
   .navbar-toggler {
       background: $main-color ;
       color: $text-light;
   }
   .navbar-toggler-icon {
    
   }
}
