<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="layout1.css">
</head>

<body>
    <div class="container">
        <header>
            <img src="https://78.media.tumblr.com/081cb6a38ffda39cef94134deb2f6a8d/tumblr_inline_ogawg90Nis1rfman3_540.png" alt="">
            <div class="header">
                <h1>Little Bird </h1>
                <p>pitcure of a bird </p>
            </div>
        </header>
        <main>
            <div class="left">
                <h2>About </h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur earum eveniet, nihil a necessitatibus
                    deserunt consequuntur officia tempora cumque ipsa totam suscipit dolorum, incidunt atque reprehenderit
                    expedita quaerat culpa corrupti. Saepe consequatur quaerat tempora vel cum dolor explicabo ut doloribus
                    illum. Porro tempora architecto repellendus labore beatae nihil eius magnam blanditiis aspernatur cum
                    eaque sed minima odit placeat, dicta dolore. Iure quasi doloremque vel atque voluptate ullam facilis,
                    aliquam quidem expedita fugiat inventore laudantium blanditiis soluta. Nobis harum, possimus neque expedita
                    et, repudiandae fuga nostrum praesentium sequi asperiores vero non. Modi nemo sit soluta quam aliquam
                    commodi tempore, illum, minus dolor esse nostrum omnis? Nihil, atque natus nam at consequuntur, placeat
                    reprehenderit, asperiores officiis voluptate aperiam sunt. Voluptate, nulla unde! Atque sit amet voluptatibus
                    unde. Consectetur dignissimos mollitia cupiditate voluptatem nulla aspernatur consequuntur, voluptatibus
                    quos porro enim, aut autem ullam saepe rerum quis eaque sit eligendi quod placeat maiores quaerat!</p>
            </div>
            <div class="right">
                <article>
                    <h2>Post No 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore nam illum ducimus ea autem, quibusdam,
                        libero obcaecati nemo quos qui alias molestias fugiat neque temporibus maiores architecto ipsa ullam
                        nihil! Eius architecto ex ab eos eveniet ea aliquid odio, tempore odit enim, reprehenderit facilis
                        animi eum officia natus recusandae totam eaque. Id veritatis dolorum, aperiam deleniti recusandae
                        totam sit consequatur. Vero enim asperiores possimus minus animi quis suscipit optio nam, dignissimos
                        quaerat provident esse voluptatibus doloremque totam, mollitia iusto numquam, eveniet reiciendis
                        consectetur soluta? Laborum dignissimos eaque dolorem est ea? </p>
                </article>
                <article>
                    <h2>Post No 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore nam illum ducimus ea autem, quibusdam,
                        libero obcaecati nemo quos qui alias molestias fugiat neque temporibus maiores architecto ipsa ullam
                        nihil! Eius architecto ex ab eos eveniet ea aliquid odio, tempore odit enim, reprehenderit facilis
                        animi eum officia natus recusandae totam eaque. Id veritatis dolorum, aperiam deleniti recusandae
                        totam sit consequatur. Vero enim asperiores possimus minus animi quis suscipit optio nam, dignissimos
                        quaerat provident esse voluptatibus doloremque totam, mollitia iusto numquam, eveniet reiciendis
                        consectetur soluta? Laborum dignissimos eaque dolorem est ea? </p>
                </article>
            </div>
        </main>
    </div>
</body>

</html>