<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="layout5.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
            </ul>
        </nav>
     
        <img class="htmlcss" src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" alt="CSS3 HTML5">
    </header>


    <main> 
            
            <div class="first">
                <img src="http://via.placeholder.com/300x200/ff0000" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
            <div class="first ">
                <img src="http://via.placeholder.com/300x200/4000ff" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
            <aside>
                    <ul>
                        <li>Rebuildings slack.com</li>
                        <li>Zasto bootcamp format?</li>
                        <li>React-prozor u svet web aplikacija</li>
                        <li>Najvece zablude o programerima u Srbiji</li>
                    </ul>
           </aside>
            <div class="first margin">
                <img src="http://via.placeholder.com/300x200/ffbf00" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
            <div class="first margin">
                <img src="http://via.placeholder.com/300x200/00ff40" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
            <div class="first last margin">
                <img src="http://via.placeholder.com/300x200/ff4000" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
            <div class="first margin1">
                <img src="http://via.placeholder.com/300x200/4000ff" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
            <div class="first margin1 ">
                <img src="http://via.placeholder.com/300x200/ffbf00" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
            <div class="first last margin1">
                <img src="http://via.placeholder.com/300x200/00ff40" alt="image">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam eveniet reiciendis quo praesentium
                    amet perspiciatis voluptate animi facilis nulla, iste minus excepturi ipsam exercitationem fugit adipisci
                    consequuntur ex possimus.
                </p>
            </div>
    </main>    
   
    <div class="clear"></div>
    <footer>
        <div class="footer1">
      <a href="#container">&#169; BitStudent 
        </a> 
    </div>
    <footer> 
</body>

</html>