li{display: inline-block;
font-size: 20px;;
margin: 0 20px;
list-style: none;

}
div {position: relative;
    background-color: rgb(107, 31, 31);
    width: 960px;
    height: 60px;
    margin: 20px auto 20px auto;
}
ul{position: absolute;
top: 0;
right: 10px;
width: 40%;

}
a:link{
 text-decoration: none;
}